body {
  background-image: url(ship.svg);
  background-repeat: repeat;
}

ul {
  list-style-type: "☠  ";
}

ul li {
  margin-top: 4px;
  margin-bottom: 4px;
}

a {
  color: #ba7800;
}

a:focus {
  outline: solid 4px #e99600;
  outline-offset: .20em;
}

input, button, select {
  margin: 0 5px 0 5px;
}

input[type="text"] {
  padding: 5px;
  border: solid 2px #ba7800;
}

input[type="text"]:focus {
  outline: solid 3px #e99600;
}

button {
  padding: 5px;
  color: white;
  background-color: #ba7800;
  border: solid 2px #ba7800;
  transition: background-color .3s;
}

button:hover, button:focus {
  outline: solid 3px #e99600;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

select {
  padding: 5px;
  color: black;
  background-color: transparent;
  border: solid 2px #ba7800;
  transition: background-color .3s;
}

select:focus {
  outline: solid 3px #e99600;
}

.w-100 {
  width: 100%;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.inline-block { display: inline-block; }

.flex { display: flex; }
.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex-flow-wrap { flex-flow: wrap; }
.flex-flow-column { flex-flow: column; }
.flex-flow-row { flex-flow: row; }

.mt-1 { margin-top: 5px; }
.mt-2 { margin-top: 10px; }
.mt-3 { margin-top: 20px; }
.mt-4 { margin-top: 40px; }
.mt-5 { margin-top: 80px; }

.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 10px; }
.mb-3 { margin-bottom: 20px; }
.mb-4 { margin-bottom: 40px; }
.mb-5 { margin-bottom: 80px; }

a.btn {
  margin: 0 5px 0 5px;
}

a.btn::before, .pagination-link::before {
  content: "[";
}

a.btn::after, .pagination-link::after {
  content: "]";
}

.chip, .filter {
  display: inline-block;
  padding: .3rem 1rem;
  border-radius: 1rem;
  background-color: #e9e9e9;
}

.chip-RUNNING {
  background-color: #b4ffac;
}

.chip-STARTING, .chip-STOPPING {
  background-color: #ffd493;
}

.chip-STOPPED {
  background-color: #ff9393;
}
