table {
  border-collapse: collapse;
  text-align: left;
  border: solid 2px #ba7800;
}

th, td {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 12px;
}

th.sortable {
  cursor: pointer;
  transition: background-color .3s;
}

th.sortable:hover {
  background-color: #e9e9e9;
}

th.sortable > span::after {
  content: '';
  margin-left: 5px;
  margin-right: 5px;
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  vertical-align: inherit;
}

th.sortable > span {
  vertical-align: middle;
}

th.sortable[data-direction="asc"] > span::after {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 5.2916666 5.2916668" version="1.1"><path d="m 4.9994567,1.4690184 -1.0736492,0 -1.2799743,1.27998 -1.2799741,-1.27998 -1.0736494,0 2.3536235,2.35363 z"/></svg>');
}

th.sortable[data-direction="desc"] > span::after {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 5.2916666 5.2916668" version="1.1"><path d="m 4.9994567,3.8226484 -1.0736492,0 -1.2799743,-1.27998 -1.2799741,1.27998 -1.0736494,0 2.3536235,-2.35363 z"/></svg>');
}

thead tr:first-child {
  background-color: #ba7800;
  color: white;
  font-weight: bold;
}

ul {
  list-style-type: "☠  ";
}

ul li {
  margin-top: 4px;
  margin-bottom: 4px;
}

a {
  color: #ba7800;
}

input[type="text"] {
  padding: 5px;
  border: solid 2px #ba7800;
}

input[type="text"]:focus {
  outline: solid 3px #e99600;
}

button {
  padding: 5px;
  color: white;
  background-color: #ba7800;
  border: solid 2px #ba7800;
  transition: background-color .3s;
}

button:hover, button:focus {
  outline: solid 3px #e99600;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

select {
  padding: 5px;
  color: black;
  background-color: transparent;
  border: solid 2px #ba7800;
  transition: background-color .3s;
}

select:focus {
  outline: solid 3px #e99600;
}

.w-100 {
  width: 100%;
}

.center {
  text-align: center;
}

.mt-1 { margin-top: 5px; }
.mt-2 { margin-top: 10px; }
.mt-3 { margin-top: 20px; }
.mt-4 { margin-top: 40px; }
.mt-5 { margin-top: 80px; }

.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 10px; }
.mb-3 { margin-bottom: 20px; }
.mb-4 { margin-bottom: 40px; }
.mb-5 { margin-bottom: 80px; }

.btn {
  margin: 0 5px 0 5px;
}

.chip {
  display: inline-block;
  padding: .5em 1em;
  border-radius: 1.5em;
  background-color: #e9e9e9;
}
