[Unit]
Description=Bonny Server

[Service]
ExecStart=bonny serve
WorkingDirectory=/home/bonny
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bonny
User=bonny
Group=bonny
Environment=

[Install]
WantedBy=multi-user.target
