[Unit]
Description=Bonny

[Service]
ExecStart=/home/bonny/bonny/bonny run
WorkingDirectory=/home/bonny/bonny
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bonny
User=bonny
Group=bonny
Environment=

[Install]
WantedBy=multi-user.target
